<h2>!!{connName}</h2>
<h3 style="display: inline">Connection Type: !!{connType}</h3>

<form>
    <table>
        <tr>
            <td><label for="envurl">Environment URL:</label></td>
            <td><vscode-text-field readonly id="envurl" value="!!{envUrl}"></vscode-text-field></td>
            <td><vscode-button onclick="copyToClipboard('envUrl')">Copy</vscode-button></td>
        </tr>
        <tr>
            <td><label for="type">Login Type:</label></td>
            <td><vscode-text-field readonly id="type" value="!!{loginType}"></vscode-text-field></td>
            <td></td>
        </tr>
        <tr>
            <td><label for="uname">Username:</label></td>
            <td><vscode-text-field readonly id="uname" value="!!{userName}"></vscode-text-field></td>
            <td><vscode-button onclick="copyToClipboard('uname')">Copy</vscode-button></td>
        </tr>
        <tr>
            <td><label for="pass">Access Token:</label></td>
            <td><vscode-text-field readonly id="pass" value="!!{token}"></vscode-text-field></td>
            <td><vscode-button onclick="copyToClipboard('pass')">Copy</vscode-button></td>
        </tr>
        <tr>
            <td><label for="refresh">Refresh Token:</label></td>
            <td><vscode-text-field readonly id="refresh" value="!!{token}"></vscode-text-field></td>
            <td><vscode-button onclick="copyToClipboard('refresh')">Copy</vscode-button></td>
        </tr>
    </table>
</form>
