<div id="header">
    <button class="btn" id="btnLink100Only">Link 100% Confident Match</button>
    <button class="btn" id="btnLinkAll">Link All</button>
</div>
<div id="wrs" class="col s12">
    <table>
        <thead>
            <th>Web Resource Id</th>
            <th>Display Name</th>
            <th>Local File Name</th>
            <th>Server Path</th>
            <th>Local Path</th>
            <th>Confidence Level</th>
            <th>Linked Status</th>
        </thead>
        !!{matches}
    </table>
</div>
