/**** General ****/
body {
    /* background-color: transparent; */
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
    margin: 0;
}

.w-15 {
    width: 15% !important;
}

.w-56 {
    width: 56% !important;
}

.btn-circle {
    height: 40px;
    width: 40px;
    padding: 1%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.action-items {
    vertical-align: middle;
    text-align: center;
}

.status {
    text-align: center;
    color: white;
    font-size: x-large;
    width: 60px;
}

.f-x-large {
    font-size: x-large;
}

.f-x-small {
    font-size: x-small;
}

.green {
    background-color: green !important;
}

.red {
    background-color: red !important;
}

.yellow {
    background-color: yellow !important;
    color: black;
}

.orange {
    background-color: orange !important;
}

.btn-status {
    color: white;
    background: transparent;
    border: 0;
    font-size: small;
}

/**** Lables ****/
label {
    font-size: 0.8rem;
    /* color: #9e9e9e; */
}

/**** Inputs ****/
input {
    /* color: #d1d1d1; */
    color: var(--vscode-input-foreground) !important;
}

/**** Tables ****/

.table {
    color: var(--vscode-editor-foreground);
}

.sortable th {
    cursor: pointer;
    white-space: nowrap;
}

.table .sort-icon {
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
}

.table .sort-icon .asc-icon,
.table .sort-icon .desc-icon {
    display: none;
}

.table th .asc .asc-icon,
.table th .desc .desc-icon {
    display: inline;
}

.table tr:hover {
    background: var(--list-hover-background);
    outline: 1px dotted var(--contrast-active-border);
    outline-offset: -1px;
}

.table th {
    padding: calc(var(--design-unit) * 1px) calc(var(--design-unit) * 3px);
    color: var(--foreground);
    opacity: 1;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    font-weight: 400;
    border: solid calc(var(--border-width) * 1px) transparent;
    border-radius: calc(var(--corner-radius) * 1px);
    text-align: left;
}

.table td {
    padding: calc(var(--design-unit) * 1px) calc(var(--design-unit) * 3px);
    color: var(--foreground);
    opacity: 1;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    font-weight: 400;
    border: solid calc(var(--border-width) * 1px) transparent;
    border-radius: calc(var(--corner-radius) * 1px);
}

.table .nowrap {
    white-space: nowrap;
}

/**** Tabs ****/
.attributesList,
.entityDetails {
    display: flex;
    flex-direction: column;
}

.attributesList div,
.entityDetails div {
    display: inline-block;
}

/**** Navigation ****/
nav {
    background-color: transparent !important;
}

.nav-link {
    color: var(--vscode-editor-foreground);
}

nav ul li {
    padding: 0 10px;
}

/**** Utility Classes ****/

.hide {
    display: none !important;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center,
.center-align {
    text-align: center;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.pl5 {
    padding-left: 5px;
}

.trailing {
    position: absolute;
    right: 15px;
    left: auto;
    cursor: pointer;
}

.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.ln32 {
    line-height: 32px !important;
}

/**** Highlighter ****/

.realistic-marker-highlight {
    color: black !important;
}
.realistic-marker-highlight:before {
    content: "";
    /* background-color: #ff6db7; */
    background-color: #eeff41;
    width: 215px;
    /* width: 100%; */
    height: 1.4em;
    position: absolute;
    z-index: -1;
    filter: url(#marker-shape);
    /* left: -0.25em; */
    /* top: 0.1em; */
    padding: 0 0.25em;
}

/**** VS Code Styling ****/

/* Button */

.vscode-button {
    align-items: center;
    background-color: var(--vscode-button-background);
    border-color: var(--vscode-button-border, var(--vscode-button-background));
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    color: var(--vscode-button-foreground);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    line-height: 22px;
    overflow: hidden;
    padding: 1px 13px;
    user-select: none;
    white-space: nowrap;
}

.vscode-button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.vscode-button:focus,
.vscode-button:active {
    outline: none;
}

.vscode-button:focus {
    background-color: var(--vscode-button-hoverBackground);
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: 2px;
}

/* Textfield */

input.vscode-textfield {
    background-color: var(--vscode-settings-textInputBackground);
    border-color: var(--vscode-settings-textInputBorder, var(--vscode-settings-textInputBackground));
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: var(--vscode-settings-textInputForeground);
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    line-height: 22px;
    max-width: 100%;
    outline: none;
    position: relative;
    width: 320px;
}

input.vscode-textfield:focus,
input.vscode-textfield:focus:invalid {
    outline: none;
    border-color: var(--vscode-focusBorder);
}

/* Tabs */

.vscode-tab {
    align-items: center;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    cursor: pointer;
    display: inline-flex;
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    line-height: 22px;
    overflow: hidden;
    padding: 1px 13px;
    user-select: none;
    white-space: nowrap;
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-secondaryBackground);
    border-color: var(--vscode-button-border, var(--vscode-button-secondaryBackground));
}

.vscode-tab.active {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    border-color: var(--vscode-button-border, var(--vscode-button-background));
}

/* Table */

#attributesTable th,
#entitiesTable th,
#flowsTable th {
    font-weight: bold;
}

#attributesTable td,
#attributesTable th,
#entitiesTable td,
#entitiesTable th,
#flowsTable td,
#flowsTable th {
    margin: 8px;
    padding: 8px;
}

#attrTable tr:hover,
#entTable tr:hover,
#floTable tr:hover {
    background: var(--vscode-list-hoverBackground);
}

#attrTable td,
#entTable td,
#floTable td {
    white-space: nowrap;
}
