/**** General ****/
body {
    background-color: transparent;
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size );
    margin: 0;
}

.w-15 {
    width: 15% !important;
}

.w-56 {
    width: 56% !important;
}

.btn-circle {
    height: 40px;
    width: 40px;
    padding: 1%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.action-items {
    vertical-align: middle;
    text-align: center;
}

.status {
    text-align: center;
    color: white;
    font-size: x-large;
    width: 60px;
}

.f-x-large {
    font-size: x-large;
}

.f-x-small {
    font-size: x-small;
}

.green {
    background-color: green !important;
}

.red {
    background-color: red !important;
}

.yellow {
    background-color: yellow !important;
    color: black;
}

.orange {
    background-color: orange !important;
}

.btn-status {
    color: white;
    background: transparent;
    border: 0;
    font-size: small;
}

/**** Lables ****/
label {
    font-size: 0.8rem;
    /* color: #9e9e9e; */
}

/**** Inputs ****/
input {
    /* color: #d1d1d1; */
    color: var(--vscode-input-foreground) !important;
}

/**** Tables ****/

.table {
    color: var(--vscode-editor-foreground);
}

.sortable th {
    cursor: pointer;
    white-space: nowrap;
}

.sort-icon {
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
  }
  
  .sort-icon .asc-icon,
  .sort-icon .desc-icon {
    display: none;
  }
  
  .sort-icon.asc .asc-icon,
  .sort-icon.desc .desc-icon {
    display: inline;
  }
  

/**** Navigation ****/
nav {
    background-color: transparent !important;
}

.nav-link {
    color: var(--vscode-editor-foreground);
}

nav ul li {
    padding: 0 10px;
}

/**** Utility Classes ****/

.hide {
    display: none !important;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center,
.center-align {
    text-align: center;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.pl5 {
    padding-left: 5px;
}

.trailing {
    position: absolute;
    right: 15px;
    left: auto;
    cursor: pointer;
}

.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.ln32 {
    line-height: 32px !important;
}

/**** Highlighter ****/

.realistic-marker-highlight {
    color: black !important;
}
.realistic-marker-highlight:before {
    content: "";
    /* background-color: #ff6db7; */
    background-color: #eeff41;
    width: 215px;
    /* width: 100%; */
    height: 1.4em;
    position: absolute;
    z-index: -1;
    filter: url(#marker-shape);
    /* left: -0.25em; */
    /* top: 0.1em; */
    padding: 0 0.25em;
}
