/**** Lables ****/
label {
    font-size: 0.8rem;
    /* color: #9e9e9e; */
}

/**** Inputs ****/
input {
    /* color: #d1d1d1; */
    color: var(--vscode-input-foreground) !important;
}

/**** Navigation ****/
nav {
    background-color: transparent !important;
}

nav ul li {
    padding: 0 10px;
}

/**** Utility Classes ****/

.hide {
    display: none !important;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center,
.center-align {
    text-align: center;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.pl5 {
    padding-left: 5px;
}

.trailing {
    position: absolute;
    right: 15px;
    left: auto;
    cursor: pointer;
}

.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.ln32 {
    line-height: 32px !important;
}

/**** Toasts ****/

#toast-container {
    display: block;
    position: fixed;
    z-index: 10000;
}

@media only screen and (max-width: 600px) {
    #toast-container {
        right: 45%;
        bottom: 7%;
        max-width: 80%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
        right: 45%;
        bottom: 7%;
        max-width: 90%;
    }
}

@media only screen and (min-width: 993px) {
    #toast-container {
        right: 46%;
        bottom: 7%;
        max-width: 86%;
    }
}

.toast {
    border-radius: 2px;
    top: 35px;
    width: auto;
    /* margin-top: 10px; */
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.2em;
    background-color: #323232;
    padding: 0px 12px;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: default;
}

.toast .toast-action {
    color: #eeff41;
    font-weight: 500;
    margin-right: -25px;
    margin-left: 3rem;
}

.toast.rounded {
    border-radius: 24px;
}

@media only screen and (max-width: 600px) {
    .toast {
        width: 100%;
        border-radius: 0;
    }
}

/**** Highlighter ****/

.realistic-marker-highlight {
    color: black !important;
}
.realistic-marker-highlight:before {
    content: "";
    /* background-color: #ff6db7; */
    background-color: #eeff41;
    width: 215px;
    /* width: 100%; */
    height: 1.4em;
    position: absolute;
    z-index: -1;
    filter: url(#marker-shape);
    /* left: -0.25em; */
    /* top: 0.1em; */
    padding: 0 0.25em;
}
